<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.peter.mapper.YarnMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.peter.bean.Yarn">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="url" property="url" />
        <result column="platform_id" property="platformId" />
        <result column="kerberos" property="kerberos" />
        <result column="kerberos_user" property="kerberosUser" />
        <result column="kerberos_keytab" property="kerberosKeytab" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, url, platform_id, kerberos, kerberos_user, kerberos_keytab
    </sql>

</mapper>
