<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.peter.mapper.HDFSMapper">
  <resultMap id="BaseResultMap" type="com.peter.bean.HDFS">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="url" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="user" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="kerberos" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="kerberos_user" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="kerberos_path" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name, url, user, kerberos, kerberos_user, kerberos_path
  </sql>
  <select id="selectByExample" parameterType="com.peter.bean.HDFSExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hdfss
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hdfss
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from hdfss
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.peter.bean.HDFSExample">
    delete from hdfss
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.peter.bean.HDFS">
    insert into hdfss (id, name, url, 
      user, kerberos, kerberos_user, 
      kerberos_path)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{user,jdbcType=VARCHAR}, #{kerberos,jdbcType=VARCHAR}, #{kerberosUser,jdbcType=VARCHAR}, 
      #{kerberosPath,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.peter.bean.HDFS">
    insert into hdfss
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="user != null">
        user,
      </if>
      <if test="kerberos != null">
        kerberos,
      </if>
      <if test="kerberosUser != null">
        kerberos_user,
      </if>
      <if test="kerberosPath != null">
        kerberos_path,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="user != null">
        #{user,jdbcType=VARCHAR},
      </if>
      <if test="kerberos != null">
        #{kerberos,jdbcType=VARCHAR},
      </if>
      <if test="kerberosUser != null">
        #{kerberosUser,jdbcType=VARCHAR},
      </if>
      <if test="kerberosPath != null">
        #{kerberosPath,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.peter.bean.HDFSExample" resultType="java.lang.Long">
    select count(*) from hdfss
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update hdfss
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.url != null">
        url = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.user != null">
        user = #{record.user,jdbcType=VARCHAR},
      </if>
      <if test="record.kerberos != null">
        kerberos = #{record.kerberos,jdbcType=VARCHAR},
      </if>
      <if test="record.kerberosUser != null">
        kerberos_user = #{record.kerberosUser,jdbcType=VARCHAR},
      </if>
      <if test="record.kerberosPath != null">
        kerberos_path = #{record.kerberosPath,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update hdfss
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      url = #{record.url,jdbcType=VARCHAR},
      user = #{record.user,jdbcType=VARCHAR},
      kerberos = #{record.kerberos,jdbcType=VARCHAR},
      kerberos_user = #{record.kerberosUser,jdbcType=VARCHAR},
      kerberos_path = #{record.kerberosPath,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.peter.bean.HDFS">
    update hdfss
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="user != null">
        user = #{user,jdbcType=VARCHAR},
      </if>
      <if test="kerberos != null">
        kerberos = #{kerberos,jdbcType=VARCHAR},
      </if>
      <if test="kerberosUser != null">
        kerberos_user = #{kerberosUser,jdbcType=VARCHAR},
      </if>
      <if test="kerberosPath != null">
        kerberos_path = #{kerberosPath,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.peter.bean.HDFS">
    update hdfss
    set name = #{name,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      user = #{user,jdbcType=VARCHAR},
      kerberos = #{kerberos,jdbcType=VARCHAR},
      kerberos_user = #{kerberosUser,jdbcType=VARCHAR},
      kerberos_path = #{kerberosPath,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>